* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #e5e7eb;
}

header {
    background-color: #1f2937;
}

.logo {
    width: 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-wrapper {
    width: 75%;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text {
    width: 500px;
    align-self: center;
}

.hero-text * {
    padding-bottom: 20px;
}

.hero-desc {
    font-size: 18px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.hero-main-text {
    font-weight: 700;
    font-size: 48px;
    color: #f9faf8;
}

.hero-image {
    width: 500px;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
}