* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #e5e7eb;
}

header {
    background-color: #1f2937;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-wrapper {
    width: 75%;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text {
    width: 500px;
    align-self: center;
}

.hero-text * {
    padding-bottom: 20px;
}

.hero-desc {
    font-size: 18px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.hero-main-text {
    font-weight: 700;
    font-family: 'Caveat', cursive;
    font-size: 60px;
    color: #f9faf8;
}

.hero-image {
    width: 500px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 35px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
}

.hero-button:hover {
    transition: 300ms;
    background-color: #f9faf8;
    color: #3882f6;
    border: 2px solid #f9faf8;
    cursor: pointer;
}

.information-section {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.information-header-text {
    color: #1f2937;
    font-weight: 700;
    font-family: 'Caveat', cursive;
    font-size: 46px;
    text-align: center;
}

.card-image {
    border: 5px solid #3882f6;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

.card-desc {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    color: #6d7681;
}

.cards {
    display: flex;
    gap: 40px;
}

.card {
    width: 180px;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    width: 53%;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-credits {
    font-size: 30px;
    color: #1f2937;
    font-weight: 700px;
    align-self: flex-end;
}
.cta-section {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    width: 70%;
    padding: 50px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.hero-button-reverse {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 35px;
    border: 3px solid #f9faf8;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
}

.hero-button-reverse:hover {
    transition: 300ms;
    background-color: #f9faf8;
    color: #3882f6;
    border: 2px solid #f9faf8;
    cursor: pointer;
}

.cta-text h2 {
    color: white;
}

footer {
    background-color: #1f2937;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.link {
    color: #e5e7eb;
    font-weight: 700;
}